<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.grandcercle.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:targetSdkVersion="8"
        android:minSdkVersion="7" 
    />
	<uses-permission android:name="android.permission.INTERNET" /> 
    	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:icon="@drawable/logo_gc"
        android:label="@string/app_name" >
        <activity
            android:name=".GCM"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".Event">
        </activity>
        <activity android:name=".TabEvent"></activity>
        <activity android:name=".TabNews"></activity>
		<activity android:name=".Tab3"></activity>
		<activity android:name=".Tab4"></activity>
		<activity android:name=".Preferences"></activity>
		<activity android:name=".PageNews"></activity>
		<activity android:name=".PageEvent"></activity>
    </application>
    

</manifest>