Android/GrandCercleMobile/bin/*
Android/GrandCercleMobile/gen/org/grandcercle/mobile/R.java
.metadata
Android/.metadata
*~
iOS/GrandCercle/GrandCercle.xcodeproj/project.xcworkspace/
iOS/GrandCercle/GrandCercle.xcodeproj/xcuserdata/
*.DS_Store
